<div class="center jumbotron">

  <h1>
  Welcome to the UOB eLibrary
   </h1>

  <h2>
    This is the home page for our balamand blog <br>
    <a href="http://www.balamand.edu.lb/main/Pages/default.aspx">Check out our website</a>
  </h2>
<div>
  <btn1><p><%= link_to 'View Reading Lists', reading_lists_path, class: "btn btn-lg btn-primary" %><br></p></btn1>

 <btn2><p><%= link_to 'View Articles Lists',articles_path, class: "btn btn-lg btn-primary" %><br></p></btn2>
  <img1><%= image_tag("Melki.jpg", alt: "Shakes logo")%></img1>
    </div>
        
   

   

</div>





